{
  "presets": ["@babel/env", "./babel-preset-mechanism"],
  "plugins": [
    "@babel/proposal-optional-chaining",
    "@babel/proposal-class-properties"
    // ,
    // [
    //   "@babel/transform-react-jsx",
    //   {
    //     "pragma": "Mechanism.elem",
    //     "pragmaFrag": "Mechanism.fragment"
    //   }
    // ]
    // "babel-plugin-transform-jsx"
  ]
}
